<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>ニコニコ風コメント</title>
  <link href="http://vjs.zencdn.net/5.0/video-js.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="http://vjs.zencdn.net/5.0/video.min.js"></script>
</head>
<body>
  <video id="smile-video" class="video-js vjs-default-skin" controls
  preload="auto" data-setup='{}'>
    <source src="smile.mp4" type='video/mp4'>
  </video>
  <h1></h1>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/bundle.js"></script>
</body>
</html>

