<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Mobile</title>
</head>
<body>
  <h2>スマホ用</h2>
  <button id="socketBtn">スタート</button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/bundle.js"></script>
</body>
</html>

