<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Mobile</title>
</head>
<body>
  <h1>スマホ用</h1>
  <button id="btn">再生</button>
  <button id="socketBtn">通知ON</button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/bundle.js"></script>
</body>
</html>

